@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Lilita+One&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgba(93, 84, 84, 0.86);
}

.logo>img{
    width: 35px;
    height: 35px;
    padding: 0 3px;
}

nav>ul{
    display: flex;
    align-items: center;
    list-style: none;
    height: 50px;
    background-color: black;
    color: white;
    font-family: 'Alex Brush', cursive;
    font-family: 'Lilita One', cursive;
}

nav>ul>li{
    padding: 0 12px;
    font-size: 14px
}

.logo{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
 
}

.container{
    height: 70vh;
    background-color: gray;
    display: flex;
    margin: 12px auto;
    width: 75%;
    padding: 7px;
    border-radius: 12px;
    background-image: url(background\ cover.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}
.songlists>h2{
    color: white;
}

.bottom{
    height: 120px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons{
    margin-top: 12px;
}
.icons>i{
    cursor: pointer;
    margin: 0 5px;
}

#progressbar{
    width: 80vw;
    cursor: pointer;
}

.songItem{
    height: 50px;
    display: flex;
    color: black;
    background-color: white;
    width: 80%;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.songItem>img{
    height: 44px;
    margin: 0 5px;
}

.time{
    margin: 0 12px;
}

.playbtn>i{
    cursor: pointer;
}
.songInfo{
    position: absolute;
    left: 0;
    bottom: 20px;
    color: white;
    padding: 0 10px;
}
.songInfo>img{
    border: 2px solid white;
}
.songname{
   
    padding: 0 12px;
}